@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

body {
  @apply font-roboto;
}

/* Alternatively, apply to specific elements */
h1,
p {
  @apply font-roboto;
}

/* CHAT */

.messenger {
  height: calc(100vh - 70px);
}
